<template>
  <div class="home">
    <el-container style="height: 100vh; border: 1px solid #eee">
      <el-aside width="200px" style="background-color: rgb(0, 21, 41)">
        <h1 class="logo">后台管理系统</h1>
        <el-menu
          background-color="#001529"
          text-color="#aaa"
          active-text-color="#409EFF"
          router
          :unique-opened="true"
          :default-active="activePath"
        >
          <el-submenu
            :index="'' + item.id"
            style="width: 200px"
            v-for="item in lists"
            :key="item.id"
          >
            <template slot="title">
              <i
                class="el-icon-message"
                v-if="item.authName === '用户管理'"
              ></i>
              <i
                class="el-icon-lock"
                v-else-if="item.authName === '权限管理'"
              ></i>
              <i
                class="el-icon-more"
                v-else-if="item.authName === '商品管理'"
              ></i>
              <i
                class="el-icon-s-order"
                v-else-if="item.authName === '订单管理'"
              ></i>
              <i
                class="el-icon-s-data"
                v-else-if="item.authName === '数据统计'"
              ></i>
              {{ item.authName }}
            </template>
            <el-menu-item
              :index="'/' + _item.path"
              v-for="_item in item.children"
              :key="_item.id"
              @click="sb('/' + _item.path)"
              >{{ _item.authName }}</el-menu-item
            >
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container >
        <el-header style="text-align: right; font-size: 12px;display: flex;
    justify-content: flex-end;
    align-items: center; ">
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
           
              <el-dropdown-item @click.native="tuichu">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          
        </el-header>

        <el-main >
          <!-- <el-table :data="tableData">
            <el-table-column prop="date" label="日期" width="140">
            </el-table-column>
            <el-table-column prop="name" label="姓名" width="120">
            </el-table-column>
            <el-table-column prop="address" label="地址"> </el-table-column>
          </el-table> -->
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import{SET_INFO} from '../store/mutation-type'
import { mapMutations } from "vuex";

export default {
  data() {
    const item = {
        date: '2016-05-02',
        name: '超帅打火机',
        address: '上海市普陀区金沙江路 1518 弄'
      };
    return {
      tableData: Array(20).fill(item),
        lists: [],
        activePath:''
    };
  },
  methods: {
    ...mapMutations([SET_INFO]),
    async getMenus(){
        const lists = await this.$apis.getMenus()  
        this.lists = lists
        console.log(lists)
    },
    tuichu(){
      this.SET_INFO({
        token:'',
        username:''
      })
      this.$router.push({
        name:'login'
      })
      
    },
    sb(activePath){
    window.sessionStorage.setItem('activePath',activePath),
    this.activePath=activePath
    }
  },
  created() {
      this.getMenus()
      this.activePath=window.sessionStorage.getItem('activePath')
  }
};
</script>
<style lang="scss" >
.home {
    .logo {
      height: 60px;
      line-height: 60px;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
  }
</style>