<template>
  <div class="login">
    <el-card class="login-dl" style=": 0px;">
      
      <div slot="header" class="div">
        <h4>欢迎登录</h4>

      </div>
      
      <el-form :model="loginfrom" :rules="loginrules" ref="ruleForm" label-width="100px">
          
        <el-form-item prop="username" >
          <el-input v-model="loginfrom.username" >
            <template slot="prepend">
              <i class="el-icon-s-custom"></i>
            </template>
          </el-input>
        </el-form-item>
        
        <el-form-item prop="password" >
          <el-input type="password" v-model="loginfrom.password">
            <template slot="prepend">
                <i class="el-icon-lock"></i>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="login" >登录</el-button>
          <!-- <el-button :plain="true" @click="login" style="margin-left:-15px">登录</el-button> -->
        </el-form-item>
      </el-form>
      
    </el-card>
  </div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
export default {
  data() {
    var handleName = (function (rule, value, callback){
      console.log(rule)
      if(value==''){
        callback(new Error('用户名不能为空'))
      }else {
        if(this.loginfrom.password === ''){
          this.$refs.ruleForm.validateField('password')
        }
        callback()  
      }
    }).bind(this)
    return {
      loginfrom: {
        username: "",
        password: "",
        
      },
      loginrules: {
        username: [
          {required: true,message: "请输入登录名称",trigger: "blur",},
          { min: 5, max: 7, message: "长度在 5 到 7 个字符", trigger: "blur" },
        ],
        password: [
          { required: true, message: "请输入登录密码", trigger: "change" },
          {min: 5,max: 15,message: "长度在 5 到 10 个字符",trigger: "blur",},
        ],
      },
    };
  },
  methods: {
    login(){
       this.$refs.ruleForm.validate()
      .then(() => {
        
        this.$apis.login(this.loginfrom, this.$message)
      })

      // this.$refs.elInput.clearValidate()
      // .then(res=>{
      //   axios.post(`http://localhost:8889/api/private/v1/login`,this.loginfrom)
      //   .then(res=>{
      //     console.log(res)
      //     if(res.status>=200&&res.status<300||res.status==304){
      //       if(res.data.meta.status){
      //         this.$message({
      //           type:'success',
      //           message:res.data.meta.msg
      //         })
      //       }else{
      //         this.$message({
      //           type:'error',
      //           message:res.data.meta.msg
      //         })
      //       }
      //     }else{
      //       this.$message({
      //         type:'error',
      //         message:res.statusText
      //       })
      //     }
      //   })
      // })


      // fetch('http://localhost:8889/api/private/v1/login',{
      //   method:'POST',
      //   headers:{
      //     'Accept':'application/json',
      //     'Content-Type':'application/json'
      //   },
      //   body:JSON.stringify(this.loginfrom)
      // })
      
      // .then(res=>res.json())
      
      // .then(res=>{
      //   console.log(res)
      //   if(res.meta.status===200){
      //     this.$message({
      //       type:'success',
      //       message:res.meta.msg
      //     })
      //     this.$router.push('/Home')
      //   }else{
      //     this.$message({
      //       type:'error',
      //       message:res.meta.msg
      //     })
      //   }
      // })
    
    // this.$http('login',this.loginfrom,'POST')
    // .then(res=>{
    //   console.log(res)
    //   this.$message({
    //     type:'success',
    //     message:res.meta.msg
    //   })
    //   this.$router.push('/Home')
    // })
    },
     
  },
};
</script>

<style lang="scss" scoped>
.login {
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    50% no-repeat;
  height: 100%;
  display: flex;
    align-items: center;
  .login-dl {
    width: 350px;
    height: 257px;
    background-color: #fff;
    margin-right: 150px;
    margin-left: auto;
    border-radius: 15px;
    
    h4{
      margin-left: 1pc;
    }
    .ppp{
        border:1px solid #ccc
    }
    .el-form{
        display: flex;
        flex-wrap: wrap;
        margin-left: -38px;
        .el-form-item{
          margin-left: -35px;
        }
      .el-button--primary{
        width: 257px;
        

      }
    }
    
  }
}
</style>