<template>
  <div class="users">
    <Breadcrumb :separator="'el-icon-arrow-right'" :breadcrumb="breadcrumb">
    </Breadcrumb>
    <el-form style="margin-top=15px" :model="form" @submit.native.prevent>
      <el-form-item>
        <el-input
          placeholder="请输入内容"
          class="input-with-select"
          style="width: 300px"
          v-model="form.query"
          clearable
        >
          <el-select placeholder="请选择">
            <el-option label="餐厅名" value="1"></el-option>
            <el-option label="订单号" value="2"></el-option>
            <el-option label="用户电话" value="3"></el-option>
          </el-select>
          <el-button
            slot="append"
            icon="el-icon-search"
            @click="btn"
          ></el-button>
        </el-input>
        <el-button
          type="primary"
          style="margin-left: 10px"
          @click="adialogVisible = true"
          >添加用户</el-button
        >
      </el-form-item>
    </el-form>
    <el-table :data="users" border style="width: 100%" v-if="users">
      <el-table-column type="index" :index="indexbb" label="#" width="80">
      </el-table-column>
      <el-table-column prop="username" label="姓名" width="180">
      </el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"> </el-table-column>
      <el-table-column prop="mobile" label="电话"> </el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">
          {{ scope.row.create_time | tableData }}
        </template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-tooltip placement="top">
            <el-switch
              v-model="scope.row.mg_state"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="userstate(scope.row)"
            >
            </el-switch>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column prop="mobile" label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click="xiugai(scope.row.id)"
          ></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="shanchu(scope.row.id)"></el-button>
          <el-button type="success" icon="el-icon-check" circle></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[1, 2, 3, 5]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>

    <el-dialog
      title="添加用户"
      :visible.sync="adialogVisible"
      width="30%"
      @close="addclose"
    >
      <el-form
        :model="addruleForm"
        :rules="addrules"
        ref="addref"
        label-width="70px"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="addruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="addruleForm.password" type="password"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="addruleForm.email"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="addruleForm.mobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="adialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addclick">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="修改用户信息" :visible.sync="addvisible" width="50%">
      <el-form
        :model="editForm"
        :rules="editFormrules"
        ref="editFormref"
        label-width="70px"
        @close="editclose"
      >
        <el-form-item label="用户名" >
          <el-input v-model="editForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="editForm.email"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="editForm.mobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addvisible = false">取 消</el-button>
        <el-button type="primary" @click="addvisibleclick">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import dayjs from "dayjs";

export default {
  data() {
    var checemail = (rule, value, cd) => {
      const regemail = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
      if (regemail.test(value)) {
        return cd();
      }
      cd(new Error("请输入合法邮箱"));
    };
    var checmobile = (rule, value, cd) => {
      const regmobile = /^(0|86|17951)?(13[0-9]|15[0123456789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
      if (regmobile.test(value)) {
        return cd();
      }
      cd(new Error("请输入合法手机号"));
    };

    return {
      params: {
        query: "",
        pagenum: 1,
        pagesize: 2,
      },
      form: {
        query: "",
      },
      addruleForm: {
        password: "",
        username: "",
        email: "",
        mobile: "",
      },

      adialogVisible: false,
      addvisible: false,
      editForm:{},
      editFormrules:{
        email: [
          { required: true, message: "请输入邮箱", trigger: "blur" },
          { validator: checemail, trigger: "blur" },
        ],
        mobile: [
          { required: true, message: "请输入手机号", trigger: "blur" },
          { validator: checmobile, trigger: "blur" },
        ],
      },
      // value: true,
      users: [],
      addrules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 5, max: 7, message: "长度在 5 到 7 个字符", trigger: "blur" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 6,
            max: 15,
            message: "长度在 6 到 15 个字符",
            trigger: "blur",
          },
        ],
        email: [
          // { required: true, message: "请输入邮箱", trigger: "blur" },
          // { validator: checemail, trigger: "blur" },
        ],
        mobile: [
          // { required: true, message: "请输入手机号", trigger: "blur" },
          // { validator: checmobile, trigger: "blur" },
        ],
      },
      breadcrumb: [
        {
          title: "首页",
          name: "login",
        },
        {
          title: "用户管理",
        },
        {
          title: "用户列表",
        },
      ],

      elform: {},
      total: 2,
    };
  },
  methods: {
    indexbb(index) {
      return (this.params.pagenum - 1) * this.params.pagesize + index + 1;
    },
    async getusers() {
      const res = await this.$apis.getusers(this.params);
      this.total = res.total;
      this.users = res.users;
    },
    // 监听pagesize 改变事件
    handleSizeChange(size) {
      this.params.pagesize = size;
      this.$router.replace({
        name: this.$route.name,
        query: {
          ...this.$route.query,
          pagenum: size,
        },
      });
      this.getusers();
    },
    // 监听 页码值 改变事件
    handleCurrentChange(page) {
      this.params.pagenum = page;
      this.$router.replace({
        name: this.$route.name,
        query: {
          ...this.$route.query,
          pagenum: page,
        },
      });
      this.getusers();
    },
    // 搜索事件
    btn() {
      this.$router.push({
        query: {
          ...this.$route.query,
          query: this.form.query,
        },
      });
      (this.params = { ...this.params, ...this.form }), this.getusers();
    },
    // 修改用户状态
    async userstate(inof) {
       await this.$apis.userstate(
        `users/${inof.id}/state/${inof.mg_state}`,
        this.$message
      );
      this.getusers();
      // console.log(res);
      // if (res.meta.status !== 200) {
      //   inof.mg_state = !inof.mg_state;
      //   return this.$message.error("更新用户状态失败");
      // }
      // return this.$message.success("更新用户状态成功");
    },
    // 添加用户 重置
    addclose() {
      this.$refs.addref.resetFields();
    },
    // 添加用户
    addclick() {
      this.$refs.addref.validate(async (valid) => {
        console.log(valid);
        // if (!valid) return;
        await this.$apis.addclick(this.addruleForm, this.$message);
        // if (res.meta.status !== 201) {
        //   this.$message.error("添加失败");
        // }
        // this.$message.success("添加成功");

        this.getusers();
      });
      this.adialogVisible = false;
    },
    // 编辑修改
    async xiugai(id) {
      console.log(id);
      const {data:res}=await this.$apis.xiugai(id, this.$message);
      this.editForm=res
      this.addvisible = true;
    },
    // 编辑 重置
    editclose(){
      this.$refs.editFormref.resetFields();
    },
    addvisibleclick(){
      this.$refs.editFormref.validate(async (valid)=>{
        // console.log(valid);
        // await this.$apis.addvisibleclick(id,{email:this.editForm.email,mobile:this.editForm.mobile},this.$message)
        // this.editForm.id=id

        if(!valid)return
       const {data:res}= await this.$apis.addvisibleclick(this.editForm.id,{email:this.editForm.email,mobile:this.editForm.mobile}
        ,this.$message
       )
          // if(res.meta.staus===200){
          //   return this.$message.success('可以')
          // }
          this.editForm=res
          this.addvisible=false,
          this.getusers();
      })
      
      

    },
    // 删除
    async shanchu(id){
     console.log(id)
       const res= await this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).catch(err=> err)
        if(res!=='confirm'){
          return this.$message.info('取消删除')
        }
        await this.$apis.shanchu(id,this.$message)

    }
  },
  filters: {
    // 创建时间日期
    tableData(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
  created() {
    const { query, pagenum, pagesize } = this.$route.query;
    (this.params = Object.assign(this.params, {
      query: query || "",
      pagesize: pagesize ? Number(pagesize) : 2,
      pagenum: pagenum ? Number(pagenum) : 1,
    })),
      (this.form = Object.assign(this.form, {
        query,
      }));
    this.getusers();
  },
  components: {
    Breadcrumb,
  },
};
</script>

<style lang="scss" scoped>
.users {
  .el-form {
    margin-top: 15px;
  }
  .el-pagination {
    margin-top: 20px;
  }
}
</style>